body {
  background-color: #212529;
  color: white;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}
.box {
  background-color: #6c757d;
  border: 0;
  padding: 40px;
  margin-top: 10px;
  margin-left: 20%;
  margin-right: 20%;
}
.withline {
  border-top: 1px solid #0dcaf0;
  border-bottom: 1px solid #0dcaf0;
  padding: 10px; /* Solo para añadir un poco de espacio entre el texto y el borde */
}

button {
  background-color: #0dcaf0;
  border: 0;
}
